<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>My Todo List</h1>
    </header>
    <main class="container">
        <section class="form-section">
            <form action="{{ url_for('add_todo') }}" method="post">
                <input type="text" name="title" placeholder="Enter a Title" required>
                <input type="text" name="description" placeholder="Enter a Description" required>
                <button type="submit">Add Todo</button>
            </form>
        </section>
        <section class="todo-section">
            <ul class="todo-list">
                {% for todo in todos %}
                <li class="todo-item {{ 'completed' if todo.completed else '' }}">
                  <div class="todo-content">
                    <h3>{{ todo.title }}</h3>
                    <p>{{ todo.description }}</p>
                  </div>
                  <div class="todo-actions">
                    <a href="{{ url_for('update_todo', todo_id=todo['_id']) }}" class="action-btn update">Update</a>
                    <a href="{{ url_for('delete_todo', todo_id=todo['_id']) }}" class="action-btn delete">Delete</a>
                    <form action="{{ url_for('toggle_todo', todo_id=todo['_id']) }}" method="POST">
                      <input 
                        type="checkbox" 
                        name="completed" 
                        onchange="this.form.submit()" 
                        {{ 'checked' if todo.completed else '' }}
                      />
                    </form>
                  </div>
                </li>
                {% endfor %}
              </ul>
        </section>
    </main>
</body>
</html>